<div class="container">
    <div class="form-container">
        <h1>Conversor de Moedas</h1>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- FROM -->
            <label>Converter de:</label>
            <div class="custom-select">

                <div class="selected" (click)="toggleFrom(); $event.stopPropagation()">
                    <div class="left">
                        <img [src]="selectedFrom.flag" />
                        {{ selectedFrom.code }} - {{ selectedFrom.name }}
                    </div>
                    <span class="arrow">▼</span>
                </div>

                @if (isOpenFrom) {
                <div class="options">
                    @for (c of currencies; track c.code) {
                    <div class="option" (click)="selectFrom(c, $event)">
                        <img [src]="c.flag" />
                        {{ c.code }} - {{ c.name }}
                    </div>
                    }
                </div>
                }

            </div>

            <!-- TO -->
            <label>Converter para:</label>
            <div class="custom-select">

                <div class="selected" (click)="toggleTo(); $event.stopPropagation()">
                    <div class="left">
                        <img [src]="selectedTo.flag" />
                        {{ selectedTo.code }} - {{ selectedTo.name }}
                    </div>
                    <span class="arrow">▼</span>
                </div>

                @if (isOpenTo) {
                <div class="options">
                    @for (c of currencies; track c.code) {
                    <div class="option" (click)="selectTo(c, $event)">
                        <img [src]="c.flag" />
                        {{ c.code }} - {{ c.name }}
                    </div>
                    }
                </div>
                }

            </div>

            <!-- INPUT -->
            <label>Valor:</label>
            <input formControlName="valor" />

            <!-- BUTTON -->
            <button type="submit">Converter</button>

        </form>
    </div>

    <!-- RESULT -->
    <div class="response-container">
        <img src="currency-icon.png" alt="">
        <div class="response">$57,27</div>
        <div class="currency">1 BRL = 0,19 USD</div>
    </div>
</div>